{{> Header }}
<h1>Todos</h1>

{{#unless todos}}
    <p style="color: red">No todos found</p>
{{else}}
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {{#each todos}}
                <tr todo-id="{{ id }}" status="{{ status }}">
                    <td><a href="/todos/{{ id }}">{{ title }}</a></td>
                    <td><a href="/todos/{{ id }}">{{ status }}</a></td> 
                </tr>
            {{/each}}
        </tbody>
    </table>
{{/unless}}
{{> Footer }}
